body {
    background-color: rgb(48,46,43);
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.squareRow {
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
}

.white {
    background-color: #C29860;
}

.black {
    background-color: #6C3A27;
}

.piece {
    width: 100%;
}