body {
    background-color: rgb(48,46,43);
}

#root {
    display: flex;
    flex-direction: column;
}

.squareRow {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
}

.white {
    background-color: #C29860;
}

.black {
    background-color: #6C3A27;
}